__pycache__/
*.py[cod]
*.pyo

.venv/
venv/
env/

build/
dist/
*.spec

*.log
Summary.txt
error.log
Homologation_Report_*.xlsx
Homologation_Result_*.json
analysis_log_*.txt

.idea/
.vscode/
.DS_Store
Thumbs.db
